@import "../css/calgaryca/Scripts/PatternLibrary/v1.2-calgaryca-custom/_COC.Pattern.Library.custom-for-election-pwa";
/*@import url(https://www.calgary.ca/Scripts/PatternLibrary/v1.2-calgaryca-custom/COC.Pattern.Library.css);*/
@import "../libs/jquery-ui-1.12.1.custom.accordion-only/_jquery-ui.min";
@import "../libs/jquery-ui-1.12.1.custom.accordion-only/_jquery-ui.structure.min";
@import "../libs/addtohomescreen/_addtohomescreen.custom";
@import "../css/calgaryca/Scripts/PatternLibrary/v1.2-calgaryca-custom/_coc-styles-ele";
/*@import url(https://www.calgary.ca/Scripts/PatternLibrary/v1.2-calgaryca-custom/coc-styles-ele.css);*/
@import "../css/calgaryca/Scripts/MasterPage/_COC.Global.Election.Overrides";
/*@import url(https://www.calgary.ca/Scripts/MasterPage/COC.Global.Election.Overrides.css);*/
@import "../css/_elections";
