﻿.cocis-hidden-text {
	display:none;
}

/*
a:link {
    text-decoration: none;
    color: #000;
}
a:visited {
    text-decoration: none;
    color: #000;
}
*/

/* scrollable content container with sticky header and footer */
html {
    height: 100vh;
    overflow: hidden;
}
body.coc-wrapper {
    display: flex;
    flex-direction: column;
    background:#fff;
}

main.container-fluid {
    padding: 0;
    margin: 0 !important;
    height: calc(100vh - 120px);
    overflow-y:scroll;
    overflow-x:hidden;
    text-align: center;
}

.coc-wrapper > main section.view {
    height: 100%;
    max-width: 767px;
    background:#fff;
    height:auto;
}
@media only screen and (min-width: 320px){
	.coc-wrapper > main section.view {
		padding:9px;
	}
}

@media only screen and (min-width: 767px){
	.coc-wrapper > main section.view {
		padding:18px;
	}
}

.coc-wrapper > main section section.view {
	padding:0;
	margin:0;
}

/* hide if user running standalone progressive web app opened from home screen: */
body.pwa-opened-from-homescreen .pwa-hide {
	display: none !important;
}

/* main layout */
.coc-pl .cui.coc-header {
    float: none;  /* override PL style */
    max-width:767px;
}
@media only screen and (min-width: 768px) {
    .coc-pl .cui.coc-header.mobile-view-only{
		left:-9px;
	} 
 }
.coc-wrapper > header {
    height: 50px;
    width: 100%;
    padding: 5px;
    background-color: #ddd;
}
#main-icon-link {
	position: absolute;
	top: 0;
	left: 0;
}
#main-icon-link img {
	width: auto;
	height: 50px;
}
.coc-wrapper > header h1 {
    font-size: 3rem;
    margin: 0;
    text-align: center;
    color: #005670;
    visibility: hidden;
}
#mobileBottomNav,
.mobileBottomNav {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2999;
    margin:auto;
    /* 
    height: 50px;
    text-align: center;
    padding: 5px;
    background-color: #ddd;*/
}
#mobileBottomNav .cui.actionPanel,
.mobileBottomNav .cui.actionPanel {
	margin:auto;
}

.coc-wrapper > main section.view {
    position: relative;
    text-align: left;
    background:#fff;
}
.coc-wrapper > main section.view iframe {
	height:100%;
	width:100%;
	border:0;
}
.coc-wrapper > main > section.view > header {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
}
.coc-wrapper > main section.view {
    max-width: 767px;  /* matches pattern library breakpoints */
    max-width: 76.7rem;  /* matches pattern library breakpoints  */
    width: 100%;
    display: inline-block;
}


.zebra-list > a:nth-child(odd) {
    background-color: #ededed;
}
.zebra-list > a {
	min-height: 72px;
	display: block;
	padding-left: 15px;
	position: relative;
	margin: 10px 0;
}
.zebra-list > a h3,
.zebra-list > a span {
	display: inline-block;
    max-width: calc(100% - 72px);
    width: 100%;
}
.zebra-list > a img {
    max-width: 72px;
    max-height: 72px;
	position: absolute;
    top: 0;
    right: 0;
}





/* pattern library - vote app overrides (mainly to adjust colours) */
/*
.coc-pl .cui[class*="btn"].primary {
	background: #005670;
	border: 2px solid #005670;
}
.coc-pl .cui.icon-label-btn, .coc-pl .cui.icon-label-text {
	background: #005670;
}
.coc-pl .cui[class*="btn"].primary-ghost {
	color: #005670;
	border: 2px solid #005670;
}
.coc-pl .cui[class*="btn"]:active,
.coc-pl .cui[class*="btn"]:hover {
	background: #005670;
}
.coc-pl .cui[class*="btn"].primary-ghost:active,
.coc-pl .cui[class*="btn"].primary-ghost:hover {
	background: #005670;
}
.coc-pl .cui[class*="btn"].primary:active,
.coc-pl .cui[class*="btn"].primary:hover {
	background: #78be43;
}*/
.coc-pl a,
.coc-pl a:link,
.coc-pl a:visited,
.coc-pl a:hover,
.coc-pl a:active {
	color: #005670;
}
.coc-pl ul#locations li {
    list-style: none;
}
@media only screen and (min-width: 992px) {
	.coc-pl .cui.b-grid-section .cui.b-grid .b-grid-content {
		position: relative;
	}
}
/* end of overrides */


.coc-pl .subtitle-block.cui{
	background:#fff;
	margin-top:0;
}

/*menu icons*/
.icon-placeholder{
	width:auto;
	height:55px;
}
#news-icon{
	background: url(../images/elections/form-icon.svg) no-repeat center transparent;
}
#candidate-icon{
	background: url(../images/elections/people-icon.svg) no-repeat center transparent;
}
#vote-information-icon{
	background: url(../images/elections/card-icon.svg) no-repeat center transparent;
}
#where-vote-map-icon{
	background: url(../images/elections/map-icon.svg) no-repeat center transparent;

}

.mobile-back-btn{
	margin:0 !important;
	padding:0 !important;
	background: transparent !important;
	text-align:left;
    min-height: inherit !important;
    display:inline-block !important;
    }
/* header nav overlay*/
#cocis-nav-active-page-overlay {
    position: absolute;
    width: 100%;
    height: calc(100% - 45px);
    background-color:  rgba(0, 0, 0, 0.7);
    z-index: 2999;
    opacity: 0.75;
    margin-top: -74px;
}


/*override the pl card, mobile view only*/
@media only screen and (max-width:20000px){
	.coc-pl .cui.card.list-cta .image-placeholder.square{
	    height: 12.9rem !important;
	    padding-top:30% !important;
	}
	.coc-pl .cui.card.list-cta .image-placeholder{
	    margin-top: 1.8rem !important;
	    text-align: center !important;
    	display: block !important;
    	float: left !important;
   	 	width: 30% !important;
	}
	.coc-pl .cui.card.list-cta .content-container{
		float: left !important;
	    width: 70% !important;
	    padding: 18px !important;
	}
	
}

/*Voting information page / local nav included*/
#viewVoterInfo{
	padding:0;
	overflow-y: visible;
}
#viewVoterInfo section.view {
	padding:36px;

}

/*Voting news*/
#viewSectionUpdate_Latest a span{
	text-decoration:underline;
	font-weight:600;
	font-size:18px;
}

/* LOCAL NAV ADJUSTMENTS UNIQUE TO ELECTIONS APP: */
#viewVoterInfo {
	position: static;
}
#viewVoterInfo .cocis-content-page-title {
	margin-top: 49px;
}
#localNavContainer,
.localNavContainer {
	position: absolute;
    width: 100%;
    max-width: 767px;
    overflow-y: auto;
    max-height: calc(100% - 70px);
}
/*popup window*/


@media only screen and (min-width: 768px){
	.vote-summery .background-image {
	    background-position: right 47px;
	    background-size: 28%;
	}
}


/* CSS TO STYLE ADDRESS LOOKUP AUTOCOMPLETE SUGGESTIONS IN ELECTIONS APP - CSS TAKEN FROM GLOBAL CALGARY.CA CSS + ELECTIONS WEBSITE CSS: */
.ui-autocomplete {
	border: 1px solid #ddd;
	background: #fff;
}
.ui-menu {
	padding-top: .5rem;
	padding-bottom: .5rem;
	z-index: 10;
}
.ui-menu,
.ui-menu li {
    padding-left: 0;
}
.ui-menu .ui-menu-item a {
	color: #333;
}
.ui-state-focus {
	border: 1px solid #999999;
    background: #dadada;
    font-weight: normal;
    border-radius: 4px;
}
/*override the global search drop down style */
.ui-menu .ui-menu-item {
	list-style: none;
	font-size: 16px;
}
.ui-menu .ui-menu-item a {
	font-size: 16px;
}
.ui-menu .ui-menu-item a:hover {
	color:#333;
	width: 100%;
	float: left;
}


/* nav menu overrides - css3 animation*/
@keyframes nav-expand {
	from {opacity:0.0;top:-100%;}
	to {opacity:1.0;top:0%;}
}
.coc-pl .cui.coc-header.coc-header-withNavOnly .nav-menu.expanded {
	animation-name: nav-expand;
	animation-duration: 0.3s;
}
.coc-pl nav.cui.topicNav.localNav .nav-menu.expanded .nav-item {
	animation-name: nav-expand;
	animation-duration: 0.3s;
}
@keyframes nav-collapse-menu-icon {
	from {opacity:0.0;right:-100px;}
	to {opacity:1.0;right:12px;}
}
.coc-pl .cui.coc-header.coc-header-withNavOnly .nav-menu.collapsed .navBtnMobile  {
	animation-name: nav-collapse-menu-icon;
	animation-duration: 0.3s;
}
/* views - css3 animation*/
@keyframes view-appear {
	from {opacity:0.0;top:50px;}
	to {opacity:1.0;top:0px;}
}
/* note: each view is a section element */
.coc-wrapper > main section.view {
	display:none;
}
.coc-wrapper > main section.view.show {
	display:block;
	animation-name: view-appear;
	animation-duration: 0.3s;
}