﻿.ath-viewport * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ath-viewport {
	position: relative;
	z-index: 2147483641;
	pointer-events: none;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.ath-modal {
	pointer-events: auto !important;
	background: rgba(0,0,0,0.6);
}

.ath-mandatory {
	background: #000;
}

.ath-container {
	pointer-events: auto !important;
	position: absolute;
	z-index: 2147483641;
	padding: 0.7em 0.6em;
	width: 18em;

	background: #eee;
	background-size: 100% auto;

	box-shadow: 0 0.2em 0 #d1d1d1;

	font-family: sans-serif;
	font-size: 15px;
	line-height: 1.5em;
	text-align: center;
}

.ath-container small {
	font-size: 0.8em;
	line-height: 1.3em;
	display: block;
	margin-top: 0.5em;
}

.ath-ios.ath-phone {
	bottom: 1.8em;
	left: 50%;
	margin-left: -9em;
}

.ath-ios6.ath-tablet {
	left: 5em;
	top: 1.8em;
}

.ath-ios7.ath-tablet {
	left: 0.7em;
	top: 1.8em;
}

.ath-ios8.ath-tablet,
.ath-ios9.ath-tablet,
.ath-ios10.ath-tablet{
	right: 0.4em;
	top: 1.8em;
}

.ath-android {
	bottom: 1.8em;
	left: 50%;
	margin-left: -9em;
}

/* close icon */
.ath-container:before {
	content: 'x';
	position: relative;
	display: block;
	float: right;
	margin: -0.7em -0.6em 0 0.5em;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIQAAACECAMAAABmmnOVAAAAdVBMVEUAAAA5OTkzMzM7Ozs3NzdBQUFAQEA/Pz8+Pj5BQUFAQEA/Pz8+Pj5BQUFAQEA/Pz9BQUE+Pj4/Pz8/Pz8+Pj4/Pz8/Pz8/Pz8+Pj4/Pz8+Pj4/Pz8/Pz8/Pz8/Pz8/Pz8+Pj4/Pz8/Pz8/Pz8/Pz9AQEA/Pz+fdCaPAAAAJnRSTlMACQoNDj");
	background-color: rgba(255,255,255,0.8);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: 50%;
	width: 2.7em;
	height: 2.7em;
	text-align: center;
	overflow: hidden;
	color: #a33;
	z-index: 2147483642;
}

.ath-container.ath-icon:before {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	float: none;
}

.ath-mandatory .ath-container:before {
	display: none;
}

.ath-container.ath-android:before {
	float: left;
	margin: -0.7em 0.5em 0 -0.6em;
}

.ath-container.ath-android.ath-icon:before {
	position: absolute;
	right: auto;
	left: 0;
	margin: 0;
	float: none;
}


/* applied only if the application icon is shown */
.ath-container.ath-icon {

}

.ath-action-icon {
	display: inline-block;
	vertical-align: middle;
	background-position: 50%;
	background-repeat: no-repeat;
	text-indent: -9999em;
	overflow: hidden;
}

.ath-ios7 .ath-action-icon,
.ath-ios8 .ath-action-icon,
.ath-ios9 .ath-action-icon,
.ath-ios10 .ath-action-icon{
	width: 1.6em;
	height: 1.6em;
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAACtCAYAAAB7l7tOAAAF6UlEQVR4AezZWWxUZRiH8VcQEdxZEFFiUZBFUCIa1ABBDARDcCciYGKMqTEGww3SOcNSAwQTjOBiiIpEhRjAhRgXRC8MFxojEhAFZUGttVhaoSxlaW3n8W3yXZxm6vTrOMM5Q98n+V9MMu1pvl++uZhKuypghu49KaaTWGdZSYoVN6VD95nMpLNYZ9");
	margin-top: -0.3em;
	background-size: auto 100%;
}

.ath-ios6 .ath-action-icon {
	width: 1.8em;
	height: 1.8em;
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJAAAAB0CAQAAADAmnOnAAAAAnNCSVQICFXsRgQAAAAJcEhZcwAAWwEAAFsBAXkZiFwAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAF4klEQVR4Ae3a/a+XdR3H8ec5HM45HDmKICoVohkZsxESRRCzcZM/2JKkdGR5MrSkleA0Pd00O4u5IVuNM2yYc6XSzC");
	margin-bottom: 0.4em;
	background-size: 100% auto;
}

.ath-android .ath-action-icon {
	width: 1.4em;
	height: 1.5em;
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAANlBMVEVmZmb///9mZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZW6fJrAAAAEXRSTlMAAAYHG21ub8fLz9DR8/T4+RrZ9owAAAB3SURBVHja7dNLDoAgDATQWv4gKve/rEajJOJiWLgg6WzpSyB0aHqHiNj6nL");
	background-size: 100% auto;
}

.ath-container p {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 2147483642;
	text-shadow: 0 0.1em 0 #fff;
	font-size: 1.1em;
}

.ath-ios.ath-phone:after {
	content: '';
	background: #eee;
	position: absolute;
	width: 2em;
	height: 2em;
	bottom: -0.9em;
	left: 50%;
	margin-left: -1em;
	-webkit-transform: scaleX(0.9) rotate(45deg);
	transform: scaleX(0.9) rotate(45deg);
	box-shadow: 0.2em 0.2em 0 #d1d1d1;
}

.ath-ios.ath-tablet:after {
	content: '';
	background: #eee;
	position: absolute;
	width: 2em;
	height: 2em;
	top: -0.9em;
	left: 50%;
	margin-left: -1em;
	-webkit-transform: scaleX(0.9) rotate(45deg);
	transform: scaleX(0.9) rotate(45deg);
	z-index: 2147483641;
}

.ath-application-icon {
	position: relative;
	padding: 0;
	border: 0;
	margin: 0 auto 0.2em auto;
	height: 6em;
	width: 6em;
	z-index: 2147483642;
}

.ath-container.ath-ios .ath-application-icon {
	border-radius: 1em;
	box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.3),
		inset 0 0.07em 0 rgba(255,255,255,0.5);
	margin: 0 auto 0.4em auto;
}

@media only screen and (orientation: landscape) {
	.ath-container.ath-phone {
		width: 24em;
	}

	.ath-android.ath-phone {
		margin-left: -12em;
	}

	.ath-ios.ath-phone {
		margin-left: -12em;
	}

	.ath-ios6:after {
		left: 39%;
	}

	.ath-ios8.ath-phone {
		left: auto;
		bottom: auto;
		right: 0.4em;
		top: 1.8em;
	}

	.ath-ios8.ath-phone:after {
		bottom: auto;
		top: -0.9em;
		left: 68%;
		z-index: 2147483641;
		box-shadow: none;
	}
}

