﻿.ath-viewport * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ath-viewport {
	position: relative;
	z-index: 2147483641;
	pointer-events: none;
    background: rgba(0, 0, 0, 0.44);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.ath-modal {
	pointer-events: auto !important;
	background: rgba(0,0,0,0.6);
}

.ath-mandatory {
	background: #000;
}

.ath-container {
	pointer-events: auto !important;
	position: absolute;
	z-index: 2147483641;
	padding: 0.7em 0.6em;
	width: 18em;
	background: #FFF;
	background-size: 100% auto;
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.3);
    font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
}

.ath-container small {
	font-size: 0.8em;
	line-height: 1.3;
	display: block;
	margin-top: 0.5em;
}

.ath-ios.ath-phone {
	bottom: 1.8em;
	left: 50%;
	margin-left: -9em;
}

.ath-ios6.ath-tablet {
	left: 5em;
	top: 1.8em;
}

.ath-ios7.ath-tablet {
	left: 0.7em;
	top: 1.8em;
}

.ath-ios8.ath-tablet,
.ath-ios9.ath-tablet,
.ath-ios10.ath-tablet{
	right: 0.4em;
	top: 1.8em;
}

.ath-android {
	bottom: 1.8em;
	left: 50%;
	margin-left: -9em;
}

/* close icon */


.ath-mandatory .ath-container:before {
	display: none;
}

.ath-container.ath-android:before {
	float: left;
	margin: -0.7em 0.5em 0 -0.6em;
}

.ath-container.ath-android.ath-icon:before {
	position: absolute;
	right: auto;
	left: 0;
	margin: 0;
	float: none;
}


/* applied only if the application icon is shown */
.ath-container.ath-icon {

}

.ath-action-icon {
	display: inline-block;
	vertical-align: middle;
	background-position: 50%;
	background-repeat: no-repeat;
	text-indent: -9999em;
	overflow: hidden;
}

.ath-ios7 .ath-action-icon,
.ath-ios8 .ath-action-icon,
.ath-ios9 .ath-action-icon,
.ath-ios10 .ath-action-icon{
	width: 1.6em;
	height: 1.6em;
	background-image:url("/libs/addtohomescreen/action-icon-ios7.png");
	margin-top: -0.3em;
	background-size: auto 100%;
}

.ath-ios6 .ath-action-icon {
	width: 1.8em;
	height: 1.8em;
	background-image:url("/libs/addtohomescreen/action-icon-ios6.png");
	margin-bottom: 0.4em;
	background-size: 100% auto;
}

.ath-android .ath-action-icon {
	width: 1.4em;
	height: 1.5em;
	background-image:url("/libs/addtohomescreen/action-icon-android.png");
	background-size:contain;
}

.ath-container p {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 2147483642;
	font-size: 16px;
	color:#000 !important;
	line-height:1.5;
}

.ath-ios.ath-phone:after {
	content: '';
	background: #FFF;
	position: absolute;
	width: 2em;
	height: 2em;
	bottom: -0.9em;
	left: 50%;
	margin-left: -1em;
	-webkit-transform: scaleX(0.9) rotate(45deg);
	transform: scaleX(0.9) rotate(45deg);
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.3);
    }

.ath-ios.ath-tablet:after {
	content: '';
	background: #ededee;
	position: absolute;
	width: 2em;
	height: 2em;
	top: -0.9em;
	left: 50%;
	margin-left: -1em;
	-webkit-transform: scaleX(0.9) rotate(45deg);
	transform: scaleX(0.9) rotate(45deg);
	z-index: 2147483641;
}

.ath-application-icon {

	position: relative;
	padding: 0;
	border: 0;
	margin: 0 auto 0.2em auto;
	height: 6em;
	width: 6em;
	z-index: 2147483642;
}

.ath-container.ath-ios .ath-application-icon {
	border-radius:4px;
    margin: 0 auto 0.4em auto;
}

@media only screen and (orientation: landscape) {
	.ath-container.ath-phone {
		width: 24em;
	}

	.ath-android.ath-phone {
		margin-left: -12em;
	}

	.ath-ios.ath-phone {
		margin-left: -12em;
	}

	.ath-ios6:after {
		left: 39%;
	}

	.ath-ios8.ath-phone {
		left: auto;
		bottom: auto;
		right: 0.4em;
		top: 1.8em;
	}

	.ath-ios8.ath-phone:after {
		bottom: auto;
		top: -0.9em;
		left: 68%;
		z-index: 2147483641;
		box-shadow: none;
	}
}

#close-popup{
	position:absolute;
	top:0;
	right:0;
	margin:9px;
	z-index:9999999;
}
#close-popup .cui.btn-sm{
	 background: transparent !important;
    color: #000;
    padding:3px;
    text-indent: !important;
    display: inline-block;
    width: auto !important;
    font-size: 16px;
    border: none;
    text-decoration:underline !important;
}
#close-popup .cui.btn-sm .cicon{
	color:#005670;
	font-size:12px !important;
	display:inline-block;
	text-decoration:none !important;
}
#close-popup .cui.btn-sm:hover{
	cursor:pointer;
	
	background:#ededee !important;
	text-decoration:none !important;
}
#close-popup .cui.btn-sm:hover .cicon{
	text-decoration:none;
}
