﻿/*The color theme from the Pattern Library */
/*use the same variable setting for color as PL */
/*MAIN CORPORATE THEME FOR CALGARY.CA */
/*Link color for calgary.ca*/
/*CPS color theme*/
/*Add the conditional comments to switch different color theme*/
/*CPS color theme end*/
/*election color theme*/
/*Add the conditional comments to switch different color theme*/
/*Link color for election*/
/*use-election-color color theme end*/
/*Site wide color theme*/
/* Main corporate grey: #4b4f55 */
/*Lightest shade*/
/*Darkets shade*/
/*Site wide color theme end*/
/*Election color theme*/
/*CPS color theme - shades of blue*/
/*Grey colours used for backgrounds or other UI are based off of the CPS blue #002D72. The shades are a 20% decline, from dark to light.*/
/*CPS color theme end*/
/* Mapicon Colour */
/* Mapicon Colour end*/
/*accessibility blue, used on the accessibility icons*/
/*social media brand color*/
/*social media brand color end*/
/*  Elections
 *  Overrides Calgary Styles (cocis-styles.css, version date: Jan 3, 2013) 
 */
/*Ribbon style fixed*/
#RibbonContainer ul, .coc-pl .ms-cui-tabBody, .coc-pl .ms-cui-tabContainer ul {
  margin: 0 !important;
  overflow: hidden !important; }

.coc-pl .ms-cui-tabBody li, .coc-pl .ms-cui-tabContainer ul li {
  font-size: 1.2rem !important; }

.ms-cui-ribbon a img, .ms-cui-menu a img, .ms-cui-QAT a img, .ms-cui-toolbar-toolbar a img {
  max-width: none; }

/***** Links *****/
.cocis-maincontent a,
.cocis-maincontent a:link,
.cocis-maincontent a:visited,
.cocis-content a,
.cocis-content a:link,
.cocis-content a:visited,
.ms-WPBody a,
.ms-WPBody a:link,
.ms-WPBody a:visited,
#cocis-left-column a,
#cocis-left-column a:link,
#cocis-left-column a:visited,
#cocis-search-left-column a,
#cocis-search-left-column a:link,
#cocis-search-left-column a:visited {
  color: #005670 !important; }

/*link color fix for Election */
.coc a, .coc a:link,
.ms-WPBody a,
.ms-WPBody a:link,
#cocis-left-column a,
#cocis-left-column a:link,
#cocis-search-left-column a,
#cocis-search-left-column a:link, .cocis-category a, .cocis-category a:link {
  color: #005670; }
  .coc a:hover, .coc a:visited, .coc a:link:hover, .coc a:link:visited,
  .ms-WPBody a:hover,
  .ms-WPBody a:visited,
  .ms-WPBody a:link:hover,
  .ms-WPBody a:link:visited,
  #cocis-left-column a:hover,
  #cocis-left-column a:visited,
  #cocis-left-column a:link:hover,
  #cocis-left-column a:link:visited,
  #cocis-search-left-column a:hover,
  #cocis-search-left-column a:visited,
  #cocis-search-left-column a:link:hover,
  #cocis-search-left-column a:link:visited, .cocis-category a:hover, .cocis-category a:visited, .cocis-category a:link:hover, .cocis-category a:link:visited {
    color: rgba(0, 86, 112, 0.8);
    background: none; }

/*Breadcrumb*/
#cocis-bottom-rows #cocis-sidebar-you-are-at .cocis-breadcrumb a {
  color: #005670; }

ul li {
  font-size: 16px; }

#cocis-search-submit {
  background-color: #005670; }

#cocis-search-submit:hover {
  background: #005670;
  background: rgba(0, 86, 112, 0.8); }

@media only screen and (min-width: 0px) {
  .coc-pl .cui#cocis-search-field-type-and-submit .cocis-search-submit, .coc-pl a.cui.cocis-search-field-type-and-submit .cocis-search-submit, .coc-pl span.cui.cocis-search-field-type-and-submit .cocis-search-submit {
    height: 4rem !important; } }

.coc-pl .cui.coc-header.ele-header .cui#cocis-search-field-type-and-submit .cocis-search-submit .cicon-search {
  color: #ffffff !important; }

.coc-pl .cui.coc-header.ele-header .cui#cocis-search-field-type-and-submit .cocis-search-submit:hover .cicon-search {
  color: #ffffff !important; }

.coc-pl .cui.coc-header.ele-header .cui#cocis-search-field-type-and-submit .cocis-search-submit:focus .cicon-search {
  color: rgba(0, 86, 112, 0.8) !important; }

/*override the card*/
.coc-pl .cui.card button:hover, .coc-pl .cui.card a.cui.btn-sm:hover, .coc-pl .cui.card a.cui.btn-sm:hover, .coc-pl .cui.card a.cui.btn-md:hover, .coc-pl .cui.card a.cui.btn-lg:hover {
  color: #ffffff !important; }

@media only screen and (min-width: 768px) {
  .coc-pl .cui.card h2, .coc-pl .cui.card h3, .coc-pl .cui.card h4, .coc-pl .cui.card h5, .coc-pl .cui.card h6 {
    line-height: 1.5;
    font-size: 16px;
    font-size: 1.6rem;
    padding: 0; } }

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .coc-pl .cui.card.list-cta .content-container {
    min-height: 120px; } }

@media only screen and (min-width: 1200px) {
  .coc-pl .cui.card.list-cta .content-container {
    min-height: 105px; } }

@media only screen and (min-width: 1680px) {
  .coc-pl .cui.card.list-cta .content-container {
    min-height: 80px; } }

.ms-WPBody td {
  font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif; }

.ms-WPBody td.bold {
  font-weight: 800; }

td.bold.bg {
  background: #4b4f55 !important;
  color: #FFF !important; }

td.bold.bg:hover {
  color: #FFF !important; }

td.bold.bg a {
  color: #FFF !important; }

/*override the global inline*/
@media only screen and (min-width: 992px) {
  .coc-pl .cui.alertbox.inline-alertbox .alertbanner-box .alertbanner-box-contents,
  .coc-pl .cui.alertbox.global-inline-alertbox.inline-alertbox .alertbanner-box .alertbanner-box-contents {
    float: left; } }

/*override the new page layout 'has topic menu ' */
@media only screen and (min-width: 992px) {
  .cocis-nav-content-page #cocis-main.hasTopicMenu #cocis-maincontent, .cocis-nav-content-page #cocis-main.hasTopicMenu #cocis-content {
    padding: 18px 18px 18px 18px !important; } }

#cocis-bottom-rows #cocis-body-row #cocis-content {
  overflow: hidden; }

@media only screen and (min-width: 200px) {
  #cocis-bottom-rows #cocis-body-row #cocis-content, #cocis-bottom-rows #cocis-body-row #cocis-maincontent {
    padding-left: 9px;
    padding-right: 9px; } }

@media only screen and (min-width: 992px) {
  #cocis-bottom-rows #cocis-body-row #cocis-content, #cocis-bottom-rows #cocis-body-row #cocis-maincontent {
    max-width: 992px;
    margin: auto; } }

/*override the global layout*/
#cocis-search-field-bkgd {
  display: none !important; }

#elePageContent {
  margin: 0 auto;
  max-width: none !important; }

#cocis-body-row #cocis-right-column {
  display: none; }

/*.ms-rtestate-read.ms-rte-wpbox{
  //@media only screen and (min-width: 200px) {margin-top:-25px;}
  //@media only screen and (min-width: 1400px) {margin-top:-50px;}
}*/
.cui.card.list-cta {
  margin: 0; }

.cui.btn-sm, .cui.btn-md, .cui.btn-lg {
  text-decoration: none !important;
  white-space: normal !important;
  line-height: 1.5 !important;
  height: auto !important; }
  .cui.btn-sm.secondary-ghost:hover, .cui.btn-md.secondary-ghost:hover, .cui.btn-lg.secondary-ghost:hover {
    background: #333333;
    color: #f6f6f6; }

.coc-pl .coc-jumbotron-new-version.cui .cta-background .cui.primary {
  color: #ffffff !important;
  text-decoration: none !important;
  margin: 0; }

.coc-pl .coc-jumbotron-new-version.cui hr {
  margin: 0 0 18px 0; }

/*override the pl style*/
.coc-pl h3, .coc-pl .h3, .coc-pl h2, .coc-pl .h2 {
  font-weight: 600; }

@media only screen and (min-width: 992px) {
  .coc-pl .subtitle-block.cui {
    margin: 3.6rem 0 3.6rem 0; } }

@media only screen and (min-width: 992px) {
  .coc-pl nav.cui.topicNav.localNav {
    margin: auto; } }

@media only screen and (min-width: 200px) {
  #cocis-bottom-rows #cocis-body-row #cocis-content h1,
  #cocis-bottom-rows #cocis-body-row #cocis-maincontent h1 {
    font-size: 26px;
    font-size: 2.6rem;
    margin-bottom: 3.2rem; } }

@media only screen and (min-width: 320px) {
  #cocis-bottom-rows #cocis-body-row #cocis-content h1,
  #cocis-bottom-rows #cocis-body-row #cocis-maincontent h1 {
    font-size: 26px;
    font-size: 2.6rem; } }

@media only screen and (min-width: 544px) {
  #cocis-bottom-rows #cocis-body-row #cocis-content h1,
  #cocis-bottom-rows #cocis-body-row #cocis-maincontent h1 {
    font-size: 36px;
    font-size: 3.6rem; } }

@media only screen and (min-width: 768px) {
  #cocis-bottom-rows #cocis-body-row #cocis-content h1,
  #cocis-bottom-rows #cocis-body-row #cocis-maincontent h1 {
    font-size: 40px;
    font-size: 4rem; } }

@media only screen and (min-width: 992px) {
  #cocis-bottom-rows #cocis-body-row #cocis-content h1,
  #cocis-bottom-rows #cocis-body-row #cocis-maincontent h1 {
    margin-bottom: 4.4rem;
    font-size: 45px;
    font-size: 4.5rem; } }

#cocis-content-page-title {
  color: #4b4f55; }

/*Adjust the page layout - Full screen content page with hero banner (#elePageContent) */
.ele-sponsors {
  display: none; }

section {
  width: 100%;
  margin: 0 auto;
  padding: 0; }
  section .content-placeholder {
    width: 100%;
    margin: 0 auto;
    max-width: 992px; }
    @media only screen and (min-width: 320px) {
      section .content-placeholder {
        padding-left: 9px;
        padding-right: 9px; } }
    @media only screen and (min-width: 767px) {
      section .content-placeholder {
        padding-left: 18px;
        padding-right: 18px; } }
  section > .row {
    margin-left: 0;
    margin-right: 0; }
    @media only screen and (min-width: 320px) {
      section > .row {
        padding: 9px; } }
    @media only screen and (min-width: 767px) {
      section > .row {
        padding: 18px; } }
    @media only screen and (min-width: 992px) {
      section > .row {
        padding: 36px; } }

.cui.secondary-ghost {
  text-decoration: none !important; }
  .cui.secondary-ghost:hover {
    text-decoration: none !important;
    color: #ffffff !important; }

@media only screen and (min-width: 320px) {
  #elePageContent .cui.catalogue-single-link.with-large-icon {
    display: block;
    width: 100%;
    margin-bottom: 18px !important;
    min-height: none; } }

@media only screen and (min-width: 768px) {
  #elePageContent .cui.catalogue-single-link.with-large-icon {
    display: inline-block;
    width: 33.333333%;
    margin-bottom: 0 !important;
    margin-right: 9px;
    margin-left: 9px;
    min-height: 380px; } }

#elePageContent .cui.catalogue-single-link.with-large-icon:focus {
  -webkit-box-shadow: 0px 0px 2px 2px #60bbfe, -4px 7px 11px rgba(0, 0, 0, 0.35) !important;
  -moz-box-shadow: 0px 0px 2px 2px #60bbfe, -4px 7px 11px rgba(0, 0, 0, 0.35) !important;
  box-shadow: 0px 0px 2px 2px #60bbfe, -4px 7px 11px rgba(0, 0, 0, 0.35) !important;
  box-shadow: 0px 0px 6px 6px #60bbfe !important;
  outline-style: none !important;
  outline: 2px solid #0394FF \9  !important;
  background: transparent !important;
  text-decoration: none !important; }

#elePageContent #newsContainer p {
  margin-bottom: 18px; }

#elePageContent #newsContainer p a {
  text-decoration: none;
  cursor: text !important; }

#elePageContent #newsContainer a span {
  font-weight: 600;
  font-size: 18px; }

#elePageContent .cui.secondary-ghost {
  text-decoration: none !important; }
  @media only screen and (min-width: 320px) {
    #elePageContent .cui.secondary-ghost {
      float: left; } }
  @media only screen and (min-width: 992px) {
    #elePageContent .cui.secondary-ghost {
      float: right; } }
  #elePageContent .cui.secondary-ghost:hover {
    text-decoration: none !important;
    color: #ffffff !important; }

#elePageContent .ele-countdown {
  padding: 36px; }
  #elePageContent .ele-countdown h3 {
    color: #005670 !important;
    vertical-align: middle; }
    @media only screen and (min-width: 320px) {
      #elePageContent .ele-countdown h3 {
        text-align: center; } }
    @media only screen and (min-width: 992px) {
      #elePageContent .ele-countdown h3 {
        text-align: right; } }
  #elePageContent .ele-countdown .image-placeholder {
    background: url(/election/Scripts/election/images/icons/clock.svg) no-repeat center transparent;
    vertical-align: middle; }
    @media only screen and (min-width: 320px) {
      #elePageContent .ele-countdown .image-placeholder {
        height: 38px;
        width: 38px;
        display: block;
        margin: auto; } }
    @media only screen and (min-width: 767px) {
      #elePageContent .ele-countdown .image-placeholder {
        display: inline-block;
        text-align: right;
        margin-left: 18px; } }
    @media only screen and (min-width: 992px) {
      #elePageContent .ele-countdown .image-placeholder {
        height: 92px;
        width: 92px; } }

/*Candidates for Mayor page*/
/*override the global search drop down style */
.ui-menu .ui-menu-item {
  list-style: none;
  font-size: 16px; }

.ui-menu .ui-menu-item a {
  font-size: 16px; }

.ui-menu .ui-menu-item a:hover {
  color: #333;
  width: 100%;
  float: left; }

/*override the global style */
.find-ward {
  width: 100%;
  margin: auto;
  background-color: #ededee; }
  .find-ward .cui.btn-md {
    color: #ffffff !important; }

#find-ward-info, .find-ward-info {
  padding: 18px; }

#find-ward-info span, .find-ward-info span {
  font-weight: 600; }

#find-ward-info p, #find-ward-info span, #find-ward-info p.address-example,
.find-ward-info p, .find-ward-info span, .find-ward-info p.address-example {
  margin-bottom: 9px;
  font-size: 14px; }

#find-ward-info p:last-child, .find-ward-info p:last-child {
  margin-bottom: 0; }

.divWardNum {
  padding: 20px !important;
  margin-top: 10px !important;
  background-color: #fff !important; }

.find-ward-info .divWardNum, .find-ward-info .divWardNum span, .find-ward-info .divWardNum p {
  font-size: 18px !important;
  margin-bottom: 18px !important; }

#find-ward-info .row, #find-ward-info .col-md-6,
.find-ward-info .row, .find-ward-info .col-md-6 {
  padding: 0;
  margin: 0; }

.find-ward input {
  padding: 6px;
  font-size: 16px;
  webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 100%; }

#btnCheckAddress {
  margin: 0 0 0 9px; }
  @media only screen and (max-width: 767px) {
    #btnCheckAddress {
      margin-top: 9px; } }

@media only screen and (min-width: 320px) {
  #logolinks {
    padding: 18px; } }

@media only screen and (min-width: 992px) {
  #logolinks {
    max-width: 992px;
    margin: auto;
    padding-bottom: 72px; } }

@media only screen and (min-width: 320px) {
  #logolinks .col-md-4 {
    padding: 36px 72px; } }

@media only screen and (min-width: 992px) {
  #logolinks .col-md-4 {
    padding: 0 72px; } }

#logolinks a {
  display: inline-block;
  text-indent: -9999999px;
  width: 100%;
  background-size: contain !important; }
  @media only screen and (min-width: 320px) {
    #logolinks a {
      height: 74px; } }
  @media only screen and (min-width: 992px) {
    #logolinks a {
      height: 125px; } }
  #logolinks a#cityofcalgaryLogo {
    background: url(/Scripts/MasterPage/images-v2/cocLogo.svg) no-repeat center transparent; }
  #logolinks a#boardofeducationLogo {
    background: url(/election/Scripts/election/images/logos/logo-cbe2.png) no-repeat center transparent; }
  #logolinks a#catholicschoolLogo {
    background: url(/election/Scripts/election/images/logos/CCSD-new-logo.png) no-repeat center transparent; }

.on-behalf-of {
  background-color: #f6f6f6;
  border-top: 1px solid #dbdcdd;
  float: left; }

.on-behalf-of .content-placeholder {
  background-color: #f6f6f6; }

.coc-footer.cui.ele-footer {
  margin-top: 0;
  clear: both; }

.ele-right-page-Content .candidates-Councillor .row,
.ele-right-page-Content .public-school-board-candidates .row,
.ele-right-page-Content .separate-school-board-candidates .row {
  padding: 0; }

/*Information for Voters*/
@media only screen and (min-width: 992px) {
  .ele-right-page-Content {
    padding-right: 18px; } }

@media only screen and (min-width: 320px) {
  .info-box {
    padding: 18px; } }

@media only screen and (min-width: 992px) {
  .info-box {
    padding: 18px; } }

/*
.info-voters .row{
  display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}*/
.info-voters .row .col-md-12 {
  margin-bottom: 18px; }

@media only screen and (min-width: 320px) {
  .info-voters .row .col-md-6 {
    padding: 9px; } }

@media only screen and (min-width: 992px) {
  .info-voters .row .col-md-6 {
    padding: 18px; } }

.info-voters .tile.cui {
  margin: 0 !important;
  height: 100%; }
  @media only screen and (min-width: 768px) {
    .info-voters .tile.cui {
      width: 50%; } }

.tile.cui h2, .tile.cui h3, .tile.cui h4, .tile.cui h5 {
  color: #005670 !important; }

@media only screen and (min-width: 0) {
  .row-space-between {
    width: 100%;
    display: block;
    height: 18px; } }

@media only screen and (min-width: 768px) {
  .row-space-between {
    width: 18px; } }

@media only screen and (min-width: 320px) {
  .is-table-row {
    display: block; } }

@media only screen and (min-width: 768px) {
  .is-table-row {
    display: table; } }

@media only screen and (min-width: 320px) {
  .is-table-row .is-table-cell {
    display: block; } }

@media only screen and (min-width: 768px) {
  .is-table-row .is-table-cell {
    float: none;
    display: table-cell !important;
    vertical-align: top; } }

@media only screen and (min-width: 768px) {
  .is-table-row [class*="col-"] {
    float: none;
    display: table-cell !important;
    vertical-align: top;
    padding: 0; } }

.general-info .image-placeholder {
  width: 100%;
  padding-top: 42.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: 0;
  background: url(/election/Scripts/election/images/grid-banner-image/business-building_2x.jpg) center no-repeat; }
  @media only screen and (min-width: 320px) {
    .general-info .image-placeholder {
      margin-bottom: 18px; } }
  @media only screen and (min-width: 992px) {
    .general-info .image-placeholder {
      margin-bottom: 36px; } }

/*Election Workers*/
.alert-box-contents h2 {
  line-height: 1.54; }

.alert-box-contents .boldFont {
  font-weight: 600;
  color: #005670; }

.cui.cicon-md.cicon-map, .cui.cicon-md.cicon-calendar-check-o {
  color: #005670; }

/* toggle the display of content at different times */
body .ele-show-candidates-on {
  display: none; }

body.ele-show-candidates-off .ele-show-candidates-on,
body.ele-show-candidates-on .ele-show-candidates-off {
  display: none; }

body.ele-show-candidates-on .ele-show-candidates-on,
body.ele-show-candidates-off .ele-show-candidates-off {
  display: block; }

body .ele-find-my-ward-on {
  display: none; }

body.ele-find-my-ward-off .ele-find-my-ward-on,
body.ele-find-my-ward-on .ele-find-my-ward-off {
  display: none; }

body.ele-find-my-ward-on .ele-find-my-ward-on,
body.ele-find-my-ward-off .ele-find-my-ward-off {
  display: block; }

/*content page*/
.in-page-links {
  margin-left: 0 !important; }

.in-page-links li {
  list-style: none;
  display: inline;
  margin-right: 6px; }

/*how to vote image map*/
/*how to vote*/
#how-to-vote-imagemap .row, #how-to-vote-imagemap [class*="col-"] {
  padding: 0;
  margin: 0; }

#how-to-vote-imagemap .steps-container .steps {
  padding: 18px;
  margin: 18px 0;
  width: 100%; }
  @media only screen and (max-width: 767px) {
    #how-to-vote-imagemap .steps-container .steps {
      margin: 0;
      padding: 0; } }

#how-to-vote-imagemap .steps-container .steps > div {
  padding: 18px; }

#how-to-vote-imagemap .image-placeholder {
  width: 100%;
  border-radius: initial;
  padding-top: 50%;
  height: 0;
  margin-top: 0; }

#how-to-vote-imagemap .title, #how-to-vote-imagemap p {
  margin-bottom: 18px; }

#how-to-vote-imagemap ul {
  margin-left: 16px; }

#how-to-vote-imagemap p.title {
  font-size: 18px;
  font-weight: 800;
  color: #005670; }

#how-to-vote-imagemap h2.title {
  font-size: 18px;
  font-weight: 800; }

#how-to-vote-imagemap h3.title {
  color: #005670 !important;
  font-size: 23px;
  font-weight: 600; }

#how-to-vote-imagemap p.h4 {
  color: #005670;
  font-weight: 600; }

.vote-summery.row {
  background-color: #ededee;
  width: 100%; }

.vote-summery.row [class*="col-"] {
  padding: 18px !important; }

@media only screen and (max-width: 767px) {
  .vote-summery p, .vote-summery ul {
    width: 50%; } }

.vote-summery .image-placeholder {
  background: url(/election/Scripts/election/images/icons/vote-station.svg) no-repeat center transparent;
  background-size: contain; }
  @media only screen and (max-width: 767px) {
    .vote-summery .image-placeholder {
      padding-top: 19.25% !important;
      background-position: left; } }

.vote-summery .background-image {
  background: url(/election/Scripts/election/images/icons/map-imageMap.svg) no-repeat transparent; }
  @media only screen and (max-width: 992px) {
    .vote-summery .background-image {
      background-size: 30% !important;
      background-position: right 80px;
      background-size: contain; } }
  @media only screen and (max-width: 767px) {
    .vote-summery .background-image {
      background-position: right center; } }
  @media only screen and (min-width: 768px) {
    .vote-summery .background-image {
      background-position: right 70px;
      background-size: 45%; } }
  @media only screen and (min-width: 1300px) {
    .vote-summery .background-image {
      background-size: 30%; } }

.background-image.at-station {
  background: url(/election/Scripts/election/images/icons/election-worker.svg) no-repeat transparent;
  background-position: right center;
  background-size: 35%; }
  @media only screen and (max-width: 767px) {
    .background-image.at-station {
      background-size: contain; } }
  @media only screen and (max-width: 544px) {
    .background-image.at-station {
      background-size: 40%; } }

.background-image.at-station ul {
  width: 50%; }

.step-1 .image-placeholder {
  background: url(/election/Scripts/election/images/icons/id.svg) no-repeat center transparent;
  background-size: contain; }
  @media only screen and (max-width: 767px) {
    .step-1 .image-placeholder {
      padding-top: 19.25% !important;
      background-position: left; } }

.step-2 .image-placeholder {
  background: url(/election/Scripts/election/images/icons/card-map.svg) no-repeat center transparent;
  background-size: cover;
  padding-top: 42.25%; }

.step-3 .image-background {
  background: url(/election/Scripts/election/images/icons/hand-blue.svg) no-repeat transparent;
  background-position: right center; }

.step-3 span {
  width: 100%;
  display: block; }

.step-3 span p, .step-3 ul, .step-3 span p, .step-3 ul li {
  display: inline-block; }

.step-3 span p {
  font-size: 14px;
  font-weight: 600; }

.step-3 ul {
  margin-left: 0 !important; }

.step-3 ul li {
  font-size: 16px;
  vertical-align: top;
  margin-right: 6px; }

.step-3 ul li span {
  display: block;
  text-align: center; }

.step-3 ul li span.color-box {
  height: 23px;
  width: 40px;
  border: 1px solid #4b4f55; }

.step-3 ul li#mayor span,
.step-3 ul li#Councillor span,
.step-3 ul li#school-trustee span,
.step-3 ul li#school-trustee ul li,
.step-3 ul li#school-trustee ul li#public-school span,
.step-3 ul li#school-trustee ul li#separate-school span {
  font-size: 12px; }

.step-3 ul li#mayor .color-box {
  background: #d1d2d4; }

.step-3 ul li#Councillor .color-box {
  background: #25aae1; }

.step-3 ul li#school-trustee ul li#public-school .color-box {
  background: #f5ee31;
  width: 20px !important; }

.step-3 ul li#school-trustee ul {
  clear: both;
  display: block; }

.step-3 ul li#school-trustee ul li#public-school span {
  float: right;
  text-align: right; }

.step-3 ul li#school-trustee ul li#separate-school span {
  float: left;
  text-align: left; }

.step-3 ul li#school-trustee ul li#separate-school .color-box {
  background: #8dc63f;
  width: 20px !important; }

.step-4 .image-placeholder {
  background: url(/election/Scripts/election/images/icons/vote-map.svg) no-repeat center transparent; }

.step-5 .image-placeholder {
  background: url(/election/Scripts/election/images/icons/vote-box-map.svg) no-repeat center transparent; }

/*web app landing page*/
#web-app-banner {
  background: #dbdcdd;
  padding: 36px; }
  @media only screen and (max-width: 544px) {
    #web-app-banner {
      padding: 9px; } }

#web-app-banner .col-md-12 {
  display: table; }
  @media only screen and (max-width: 544px) {
    #web-app-banner .col-md-12 {
      display: block; } }

#web-app-banner .image-placeholder {
  width: 30%;
  display: table-cell;
  background: url(/election/Scripts/election/images/mobile-demo.png) no-repeat center transparent;
  background-size: contain; }
  @media only screen and (max-width: 544px) {
    #web-app-banner .image-placeholder {
      width: 100%;
      display: block;
      padding-top: 42.25%;
      height: 0;
      overflow: hidden;
      margin-bottom: 0; } }

.web-app-banner-detail {
  width: 70%;
  padding: 0 36px;
  display: table-cell; }
  @media only screen and (max-width: 544px) {
    .web-app-banner-detail {
      width: 100%;
      display: block;
      padding: 0; } }

.web-app-banner-detail p {
  margin-bottom: 18px; }

.web-app-banner-detail .cui.primary {
  color: #ffffff !important; }

@media only screen and (min-width: 320px) {
  #web-app-detail {
    padding: 9px; } }

@media only screen and (min-width: 767px) {
  #web-app-detail {
    padding: 18px; } }

@media only screen and (min-width: 992px) {
  #web-app-detail {
    padding: 36px; } }

@media only screen and (min-width: 0) {
  #web-app-detail .icon-placeholder {
    display: inline-block;
    width: 48px;
    height: 48px; } }

@media only screen and (min-width: 767px) {
  #web-app-detail .icon-placeholder {
    display: none; } }

#web-app-detail .news-icon {
  background: url(/election/Scripts/election/images/icons/form.svg) no-repeat top center transparent; }

#web-app-detail .candidates-icon {
  background: url(/election/Scripts/election/images/icons/people.svg) no-repeat top center transparent; }

#web-app-detail .voting-info-icon {
  background: url(/election/Scripts/election/images/icons/card.svg) no-repeat top center transparent; }

#web-app-detail .location-icon {
  background: url(/election/Scripts/election/images/icons/map.svg) no-repeat top center transparent; }

/*mobile CTA banner - only shows up on mobile*/
#mobileCTABanner {
  padding: 18px 0 0 0;
  background: #dbdcdd; }
  #mobileCTABanner .row {
    padding: 0;
    margin: 0; }
  #mobileCTABanner h3 {
    padding: 0 18px 0 18px; }
  #mobileCTABanner .details {
    padding: 0 18px 18px 18px; }
    #mobileCTABanner .details img {
      width: 20%;
      float: left; }
    #mobileCTABanner .details p {
      width: 80%;
      float: left;
      padding-left: 18px; }
    #mobileCTABanner .details::after, #mobileCTABanner .details::before {
      display: block;
      content: '';
      clear: both; }
  #mobileCTABanner .action-link {
    margin: 0;
    padding: 0; }
  #mobileCTABanner .action-link a {
    background: #f6f6f6;
    padding: 10px 15px;
    border-top: 1px solid #c9cacc;
    border-bottom: 1px solid #c9cacc;
    text-decoration: none;
    display: inline-block;
    width: 100%; }
    #mobileCTABanner .action-link a:hover {
      background: #ededee; }
    #mobileCTABanner .action-link a [class*="cicon-"] {
      float: right; }

/*Election debates page*/
.election-debates section > .row {
  margin-left: 0;
  margin-right: 0; }

@media only screen and (min-width: 320px) {
  .election-debates section > .row {
    padding: 9px !important; } }

@media only screen and (min-width: 767px) {
  .election-debates section > .row {
    padding: 18px !important; } }

@media only screen and (min-width: 992px) {
  .election-debates section > .row {
    padding: 0px !important; } }

.debate-details {
  padding: 18px;
  margin-bottom: 36px !important;
  margin-top: 18px;
  border: 1px solid #c9cacc; }

.election-debates .cui.secondary-ghost {
  float: none !important; }

.debate-details p {
  margin-bottom: 9px; }

.debate-details hr {
  margin-bottom: 18px; }

address {
  font-style: normal;
  line-height: 1.5; }

.debate-time {
  margin-left: 36px; }

/*Election debates page end*/
/*override default background images for banner images, mayor and candidates*/
#elePhoto {
  /* 2x retina display of 500x500 photo image */
  width: 250px;
  height: 250px; }

.coc-pl .coc-jumbotron-new-version.cui .image-placeholder-mobile {
  background: url(/election/Scripts/election/images/banner-image/1280-500-calgary.jpg) center no-repeat;
  background-size: cover; }
  .coc-pl .coc-jumbotron-new-version.cui .image-placeholder-mobile.candidates-landing {
    background: url(/election/Scripts/election/images/banner-image/1280-500-bridge.jpg) center no-repeat !important;
    background-size: cover !important; }

.coc-pl .coc-jumbotron-new-version.cui {
  background: url(/election/Scripts/election/images/banner-image/1280-500-calgary.jpg) center no-repeat;
  background-size: cover; }
  .coc-pl .coc-jumbotron-new-version.cui.candidates-landing {
    background: url(/election/Scripts/election/images/banner-image/1280-500-bridge.jpg) center no-repeat !important;
    background-size: cover !important; }

@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .coc-pl .coc-jumbotron-new-version.cui .image-placeholder-mobile {
    background: url(/election/Scripts/election/images/banner-image/1280-500-calgary_2x.jpg) center no-repeat;
    background-size: cover; }
    .coc-pl .coc-jumbotron-new-version.cui .image-placeholder-mobile.candidates-landing {
      background: url(/election/Scripts/election/images/banner-image/1280-500-bridge_2x.jpg) center no-repeat !important;
      background-size: cover !important; }
  .coc-pl .coc-jumbotron-new-version.cui {
    background: url(/election/Scripts/election/images/banner-image/1280-500-calgary_2x.jpg) center no-repeat;
    background-size: cover; }
    .coc-pl .coc-jumbotron-new-version.cui.candidates-landing {
      background: url(/election/Scripts/election/images/banner-image/1280-500-bridge_2x.jpg) center no-repeat !important;
      background-size: cover !important; } }

.coc-pl .cui.card.list-cta .image-placeholder {
  background: url(/election/Scripts/election/images/candidates/person.svg) center no-repeat !important;
  background-size: cover !important;
}